@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@layer tailwind-base, primereact, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
@import '@fortawesome/fontawesome-free/css/all.min.css';

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 5px !important;
  text-align: center;
  justify-content: center;
}

*,
body {
  font-family: 'Poppins';
}
.p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  justify-content: center !important;
}
.p-datatable .p-column-header-content {
  justify-content: center !important;
}
.p-inputtext {
  height: 42px !important;
  border-radius: 6px !important;
  padding: 0.75rem 0.45rem;
}
.p-dropdown-label.p-inputtext{
  padding: 0.45rem  0.45rem;
}
.p-multiselect.p-multiselect-chip .p-multiselect-token{
 padding: 0.15rem 0.75rem
}